.date{

    color:lightskyblue;
}

html{
    border:lightslategrey solid 20px;
    margin: 2% 20% 2% 20%;
    padding: 2%;
    
}

h2{

    font-weight:bolder;
    color:darkslategray;
    font-size: 25px;
}

.quote{

    border-left: solid lightslategray 4px;
    padding-left: 10px;
}

hr{
    border-style: none;
    display: none;
}

p{
    font-size: smaller;
    
}