.date{

    color:lightskyblue
}

html{
    border:lightgrey solid 20px;
    margin: 10px 250px 10px 250px;
    padding: 20px;
}

h2{

    font-weight:bolder;
    color:darkslategray;
}

.quote{

    border-left: solid lightslategray;
}

hr{
    border-style: none;
}